body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 1.6rem;
   background-color: lightblue;
   
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }

  
  .container{
    width: 80vh;
    background: whitesmoke;
    border: 1px solid white;
    border-radius: 10px;
    /* align-content: center; */
    padding: 30px;
    margin: 50px auto;
  }
 